$base-green: #022127;
$dark-yellow: #E4A951;
$base-yellow: #CBB25B;
$lighter-green: rgba($base-yellow, 0.30);
$gray: #D9D9D9;
$boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);

.App {
  height: 100vh;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(165, 231, 132) 50%, rgb(146, 193, 225) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
