$base-green: #022127;
$dark-yellow: #E4A951;
$base-yellow: #CBB25B;
$lighter-green: rgba($base-yellow, 0.30);
$gray: #D9D9D9;
$boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);

.App {
  text-align: center;
  overflow: hidden;
  color: $base-yellow;   
  background: $base-green; 
  font-weight: normal;
  padding: 0.5rem 3.5rem;
}
